/* Header font */
@import url('https://fonts.googleapis.com/css?family=Volkhov');
/* Main content font */
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

/*Basic page styles*/
body {
	font-family: 'Didact Gothic', sans-serif;
	font-size: 110%;
	line-height: 1.3em;
	letter-spacing: 105%;
	margin: 0 auto;
	color: #333;
	background-color: #DAD0AE;
}
h1, h2, h3, h4 {
	font-family: 'Volkhov', serif;
}
/* Header */
header {
	background-color: #AAB77F;
	height: 120px;
	box-shadow: 5px 5px 15px #555;
}
nav {
	text-align: center;
}
header>a>img {
	float: left;
	clear: both;
	border: none;
	padding-left: 1em;
	padding: .4em;
	transition: none;
	box-shadow: none;
}
nav>form>input {
	clear: both;
	float: right;
	margin-bottom: 3em;
}
nav>a {
	float: right; 
	padding: 1em;
	height: 20px;
}
nav>ul>li {
	font-size: 120%;
	display: inline-block;
	padding: 2em;
	padding-top: 4em;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: #333;
	transition: background-color 1s;
	border-radius: 1em;
}
a:hover {
	background-color: #A7C656;
}

/* Main */
main {
	padding: 2em;
	width: 70%;
	margin: 0 auto;
}
/* Left div styles */
main>div {
	float: left;
	padding-bottom: 3.4em;
	padding: 1em;
	background-color: #fff;
}
h1 {
	font-size: 40px;
	padding: 1em;
	padding-left: 0;
}
h3 {
	font-size: 30px;
	padding: 1em;
}
img {
	border: 1px #555 solid;
}
img:hover {
	box-shadow: 1px 1px 4px #666;
}
img#product {
	display: inline-block;
	padding-bottom: 2em;
}
/* Right div styles */
/* Product information section */
div#productInfo {
	margin: 0 auto;
	width: 400px;
	float: right;
	padding-bottom: 4em;
}
div>h4:first-of-type {
	float: right;
	padding: 1em;
	margin-left: 1em;
	background-color: #DAD0AE;
}
div>a {
	float: right;
}
p {
	padding-left: 1em;
}
/* Table Styles */
table {
	margin: 0 auto;
}
td {
	padding: .5em;
	width: 100px;
	padding-left: 2em;
}
tr:nth-of-type(odd) {
	background-color: #999;
}
ul>li>a>img {
	margin: .4em;
	float: left;
}

/* Form Styles */
form {
	margin-top: 1em;
	padding: 1em;
	border: 1px solid #333;
}
label, input, textarea, button {
	padding: 1em;
	margin: 1em;
}

/* Footer Styles */
footer {
	height: 200px;
	width: 100%;
	clear: both;
	background-color: #666;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 1em;
}
footer>nav {
	width: 100%;
	display: inline-block;
}
footer>nav:nth-of-type(2) {
	width: 300px;
}
footer>nav>ul>li {
	padding: .5em;
}
footer>nav>ul>li>a {
	transition: unset;
}
footer>nav>ul>li>a:hover {
	background-color: unset;
}
small {
	font-size: 80%;
	text-transform: uppercase;
	padding-top: 4em;
	display: block;
}